* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../IMG/netflix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  color: red;
  padding: 20px;
  font-family: 'Teko', sans-serif;
  font-size: 3.5rem;
  text-align: left;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

}

.FormularioFlix {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 100px;
  border-radius: 4px;
  margin-top: -200px;
  
}

.FormularioFlix form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormularioFlix input[type="email"],
.FormularioFlix input[type="password"] {
  padding: 16px;
  padding-right: 70px;
  margin: 8px;
  font-size: 1rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5); 
  color: white;
  outline: none;
  border-radius: 4px;
  background-color: rgb(34, 34, 34);
}

.FormularioFlix button {
  padding: 10px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 10px;
  font-size: 1rem;
  background-color: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
}

.FormularioFlix button:hover {
  background-color: #f40612;
}

.text{
  margin: 10px;
}

.text2{

  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: small;
}